<h2>Applicant:</h2><%= @application.name %><br>

<%= @application.street %><br>
<%= @application.city %><span>, </span><%= @application.state %>
<span> </span><%= @application.zip_code %><br>
<p>Status: <%= @application.status %></p>

<div class="">
  <% unless @application.pets.empty? %>
    <% @application.pets.each do |pet| %>
      <h4>Pets selected: <%= pet.name %></h4><br>
    <% end %>
    <%= form_with model: @application do |form| %>
      <h4>Submit my application</h4>
      <%= form.label :justification, "Why I'd make a good home:" %><br>
      <%= form.text_area :justification %><br>
      <%= form.submit "Submit" %>
    <% end %>
  <% end %>
</div>


<% if @application.status == "In Progress" %>
  <section>
    <h3>Add a Pet to this Application</h3>
    <%= form_with url: application_path(@application), method: :get do |form| %>
      <%= form.label :query, "Pets by name:" %>
      <%= form.text_field :query %>
      <%= form.submit "Search" %>
    <% end %>

    <% if @pets %>
      <% @pets.each do |pet| %>
      <div class="">
        <h3><%= pet.name %></h3>
        <%= button_to "Adopt this Pet", [:application_pets, id: pet.id, application_id: @application] %>
      </div>
          <p>
            <%= pet.age %><span> year old </span>
            <%= pet.breed %><span> currently at </span>
            <%= pet.shelter_name %>
          </p>
      <% end %>
    <% end %>
  </section>
<% end %>
