<h2>Applicant:</h2><%= @application.name %><br>

<%= @application.street %><br>
<%= @application.city %><span>, </span><%= @application.state %>
<span> </span><%= @application.zip_code %><br>
<p>Why I would make a good home:
  <%= @application.justification %><br>
</p>

<% if @application.pets %>
  <% @application.pets.each do |pet| %>
    <%= pet.name %>
  <% end %>
<% end %>

<p>Status: <%= @application.status %></p>

<section>
  <h3>Add a Pet to this Application</h3>

  <%= form_with url: application_path(@application), method: :get do |form| %>
  <%= form.label :query, "Pets by name:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>
</section>

<section>
  <% if @pets %>
    <% @pets.each do |pet| %>
    <div class="">
      <h3><%= pet.name %></h3>
      <%= button_to "Adopt this Pet", { action: "add", id: pet.id, application_id: @application } %>
    </div>
        <p>
          <%= pet.age %><span> year old </span>
          <%= pet.breed %><span> currently at </span>
          <%= pet.shelter_name %>
        </p>
    <% end %>
  <% end %>
</section>
