<%= @application.name %><br>
<%= @application.street %><br>
<%= @application.city %><span>, </span><%= @application.state %>
<span> </span><%= @application.zip_code %><br>
<%= @application.justification %><br>
<%= @application.status %>
