<h2>Application Show Page</h2>

<section>
  <p>
    <%= @application.name %><br>
    <%= @application.street %>
    <%= @application.city %>
    <%= @application.state %>
    <%= @application.zip_code %><br>
    <%= @application.justification %><br>
    <%= @application.status %><br>
  </p>
</section>

<section>
  <span>
    <%= button_to "Approve", model: @application  %>
  </span>
</section>
